version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "opentofu"
    directory: "/infra/lab"
    schedule:
      interval: "weekly"
