name: Check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Configure Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Run flake check
        run: nix flake check
